
---
interface Props {
    title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="font-sans text-gray-800 bg-gray-100">
        <slot />
        <footer class="bg-gray-800 text-white py-8 mt-12">
            <div class="container mx-auto px-4 text-center">
                <div class="flex flex-col md:flex-row justify-center items-center space-y-4 md:space-y-0 md:space-x-8 mb-4">
                    <a href="/about" class="hover:underline">About</a>
                    <a href="/privacy" class="hover:underline">Privacy</a>
                </div>
                <p class="text-sm mb-2">Contact Information for mindlooker.com</p>
                <p class="text-sm mb-2">Email: info@mindlooker.com</p>
                <p class="text-sm">&copy; {new Date().getFullYear()} mindlooker.com. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>